.main-frame-child {
  height: 99px;
  width: 1400px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-dimgray);
  display: none;
  max-width: 100%;
}
.cm-4-1,
.signuplogin {
  position: relative;
  z-index: 1;
}
.cm-4-1 {
  height: 71px;
  width: 143px;
  border-radius: 5px;
  object-fit: cover;
}
.signuplogin {
  height: 67px;
  width: 329px;
  line-height: 130%;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  max-width: 100%;
  cursor: pointer;
}
.desktop-2,
.main-frame {
  display: flex;
  box-sizing: border-box;
}
.main-frame {
  align-self: stretch;
  border-radius: var(--br-mini);
  background-color: var(--color-dimgray);
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  padding: 12px var(--padding-4xs) 16px 0;
  gap: 20px;
  max-width: 100%;
}
.desktop-2 {
  width: 100%;
  position: relative;
  background: linear-gradient(181.06deg, rgba(0, 0, 0, 0.92), transparent);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 18px 363px var(--padding-xl);
  gap: var(--gap-131xl);
  letter-spacing: normal;
  text-align: center;
  font-size: 32px;
  color: var(--color-white);
  font-family: var(--font-fira-code);
}
@media screen and (max-width: 750px) {
  .signuplogin {
    font-size: 26px;
    line-height: 33px;
  }
  .desktop-2 {
    gap: var(--gap-131xl);
  }
}
@media screen and (max-width: 675px) {
  .main-frame {
    flex-wrap: wrap;
    padding-left: var(--padding-4xs);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .signuplogin {
    font-size: var(--font-size-lgi);
    line-height: 25px;
  }
  .desktop-2 {
    gap: var(--gap-131xl);
  }
}
